extends layout

block navbar
  .nav
    .row
      div(class='large-1 medium-2 small-4 columns')
        a(href='/')
          img(height='50px', width='50px', src='/images/logo-full.png', title='Buoyed', alt='Buoyed')
      div(class='large-2 large-offset-9 medium-2 medium-offset-8 small-4 small-offset-4 columns')
        ul.nav-list
          li
            a(href="about"). 
              About

block content
  h1 About