extends ../layout

block header
  .header
    .row
      div(class='copy large-6 large-centered columns')
        a(href='/')
          img(height="100px", width="100px", alt="Keeping people afloat.", title="Keeping people afloat." src="../images/logo.png")
          h1 Buoyed
        p Keeping people afloat.
        a(href="new", class='base-button front') Encourage someone

block content
  .messages
    - each message in messages
      .row.message
        .large-4.columns.medium-4.medium-offset-2.small-12.large-offset-2.text
          p(class='message') #{message.body}
          .row
            .large-4.columns.medium-4.small-12.tags
              - each tag in message.tags
                .tag
                  p #{tag}
        .large-4.columns.medium-6.small-12
          p.upvotes + #{message.upvotes}
          button(class='base-button').
            Like